body {
	font-family: Baskerville, Plantin, Palatino, 'Palatino Linotype', Garamond, Georgia, 'Times New Roman', Times, serif;
	background-image: url('/site_media/static/img/tile.png');
	background-repeat: repeat;
}

h1 {
	font-size: 85px;
	margin: 50px 0 20px 0;
	font-style: normal;
	font-variant: small-caps;
	font-weight: normal;
	color: #2D2C29;
	text-align: right;
	text-shadow: 1px 1px #E9E5DB, -1px -1px #444;
}

.h_100 {
	height: 100px;
}

#bio {
	font-style: italic;
	color: #2D2C29;
	font-size: 14px;

}

#link_list ul {
	margin: 0;	
	padding: 0;
}

#link_list li {
	list-style-type: none;
	margin-left: 0;
	text-align: right;
	font-variant: small-caps;


}

#link_list li a {
	color: #5A5752;
	text-decoration: none;
	font-size: 22px;
}

#link_list li a:hover {
	color: #2D2C29;
}

.arrow {
	font-size: 18px;
	color: #2D2C29;
	padding: 0 10px;
}
