<html>
<head>
	<title></title>
	<link href="{{ STATIC_URL }}img/favicon.png" rel="icon" type="image/x-png" />
	<script type="text/javascript" src=" https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/960.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
	{% block head %}
	{% endblock %}
</head>
<body>
	<div id="header_wrap">
		<div id="header" class="container_12">
			<div id="logo" class="grid_6">
			</div>
			<div id="menu" class="grid_6">
			</div>
		</div>
	</div>
	<div id="main" class="container_12">
	{% block content %}
	{% endblock %}
	</div>
	<div id="footer_wrap">
		<div id="footer" class="container_12">
		</div>
	</div>
</body>
</html>
