{% extends "base.html" %}

{% block content %}
<div class="grid_12">
	<h1>Sir Valiance</h1>
</div>
<div id="bio" class="grid_6">
	<p>Some text or bio information</p>
</div>
<div id="link_list" class="grid_6">
	<ul>
		<li><a href="http://blog.sirvaliance.com">Blog</a></li>
		<li><a href="http://sirvaliance.bandcamp.com">Music</a></li>
		<li><a href="http://github.com/sirvaliance/">Code</a></li>
		<li><a href="mailto:sir@sirvaliance.com">Email</a></li>
		<li><a href="">PGP Key</a></li>
	</ul>

</div>

{% endblock %}
