{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block content %}
<div class="grid_6 suffix_1">
    <h1 id="mozilla_title">Hi Mozilla!</h1>
    <div id="title_text">
        <p>I go by the name Sir Valiance. I am a full stack web developer and security, privacy, and anonymity enthusiast who would love to join Mozilla.          </p>
    </div>
</div>
<div class="grid_4" id="portrait_box">
    <img src="{{ STATIC_URL }}img/portrait.png" />
    <p>This is a portrait of me on a typical afternoon.</p>
</div>

<div class="clear"></div>
<div class="main_text_box">
    <div class="grid_8 prefix_2 suffix_2 alpha">
        <p class="headline_text">Let me tell you more about myself and why I would be a great fit in the organization.</p>
    </div>
    <div class="clear"></div>
    <div class="grid_5 suffix_1 alpha">
        <h2>Why Mozilla?</h2>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>
    </div>
    <div class="grid_5 omega">
        <h2>Why This Position?</h2>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>
    </div>
    <div class="clear"></div>
    <div class="grid_5 suffix_1 alpha">
        <h2>What Do I Currently Do?</h2>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>

    </div>
    <div class="grid_5 omega">
        <img src="{{ STATIC_URL }}img/mozilla.png" />

    </div>
    <div class="clear"></div>
    <div class="grid_5 suffix_1 alpha">
    </div>
    <div class="grid_5 omega">
            </div>
    <div class="clear"></div>
<p class="headline_text">The Crypto Project<p>
    <div class="grid_4 suffix_1 alpha">
        <img src="{{ STATIC_URL }}img/crypto-sh.png" />
    </div>
    <div class="grid_6 omega">
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>
    </div>
    <div class="clear"></div>
    <div class="grid_7 suffix_1 alpha">
        <h2>Recent Press</h2>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>
    </div>
    <div class="grid_3 omega">
        <img src="{{ STATIC_URL }}img/logo.png" />
    </div>

    <div class="clear"></div>
    <div class="grid_5 suffix_1 alpha">
        <h2>Collaboration and Remote Team Work Experience</h2>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>
    </div>
    <div class="grid_5 omega">
        <h2>Why I Am Capable To Work This Position</h2>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>
    </div>
    <div class="clear"></div>
    <p class="headline_text">What are my interests?</p>

    <div class="grid_4 suffix_1 alpha">
        <h2>My Research and Bookshelf</h2>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>
    </div>
    <div class="grid_6 omega">
        <img src="{{ STATIC_URL }}img/books.png" />
    </div>
    <div class="clear"></div>
    <div class="grid_4 suffix_1 alpha">
        <img src="{{ STATIC_URL }}img/len-cover.png" />

    </div>
    <div class="grid_6 omega">
        <h2>I Also Make Music</h2>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>
    </div>
    <div class="clear"></div>
    </div>
<div class="clear"></div>
<div id="quote_wrapper">

    <h2>What People Say About Me</h2>
    <div class="grid_5 Alpha">
        <p>See if you can ask nicely in #cryptodotis from people to say nice things or recommend me.  Maybe tjr, marlowe, nickm? Also ask @flamsmark if he has an IN at mozilla</p>
    </div>
    <div class="clear"></div>
</div>
<p class="headline_text">Where do we go from here?</p>
<div class="grid_6 prefix_3 suffix_3">
    <p>Add contact information (twitter, email, irc) and also mention that I can supply my real information like education, past work experience, etc.</p>
</div>
{% endblock %}

